<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Home</title>

</head>
<body>
    <%-include('facultyActivity')%>
    <h1 style="font-size: 90px; margin-bottom: 20px;">FACULTY</h1>
    <h1 style="font-size: 90px; margin-bottom: 20px;">ACTIVITY</h1>
    <h1 style="font-size: 90px; margin-bottom: 20px;">DASHBOARD</h1>
    
</body>
</html>