<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #00ffff, #ffffff);

            height: 100%;
            margin: 0;
           
        }
    </style>
</head>
<body>
    <header>
        <div class="nav-user">
            <div class="part2">

    
                <a href="studentHome" class="timeTable">Home</a>
                <select id="options1" class="drop-down-class" name="options">
                    <option value="">My details</option>
                    <option value="/editDetails">Edit Details</option>
                    <option value="/showDetails">Show Details</option>
                </select>
    
                <select id="options2" class="drop-down-class" style="width: 190px;" name="options">
                    <option value="">Course Registration</option>
                    <option value="/registerCourse">Go for Registration</option>
                    <option value="/registrationHistory">Registration History</option>
                </select>
                <select id="options3" class="drop-down-class" style="width: 165px;" name="options">
                    <option value="">Add/Drop Courses</option>
                    <option value="/addCourse">Add Course</option>
                    <option value="/dropCourse">Drop Course</option>
                </select>
                <a href="/submitFeedback" class="timeTable">Submit Feedback</a>
                <a href="/viewGrades" class="timeTable">View Grades</a>
                <select id="options4" class="drop-down-class" style="width: 140px;" name="options">
                    <option value="">Scholarship</option>
                    <option value="/applyScholarship">Apply Scholarship</option>
                    <option value="/viewAppliedScholarship">Applied Scholarship</option>
                </select>
            </div>
            <div class="part3">
                <div class="loggedUser"><strong><%= name%></strong></div>
                
                <button onclick="confirmLogOut()" style="color: white; background-color: transparent; width: 100px; height: 30px; font-size: 21px; border: 1px solid white;">Logout</button>
            </div>
        </div>
        <script>
            const dropdown1 = document.getElementById("options1");
            const dropdown2 = document.getElementById("options2");
            const dropdown3 = document.getElementById("options3");
            const dropdown4 = document.getElementById("options4");
            dropdown1.addEventListener("change", () => {
                const selectedValue = dropdown1.value;
                if (selectedValue) {
                    window.location.href = selectedValue;
                }
            });
            dropdown2.addEventListener("change", () => {
                const selectedValue = dropdown2.value;
                if (selectedValue) {
                    window.location.href = selectedValue;
                }
            });
            dropdown3.addEventListener("change", () => {
                const selectedValue = dropdown3.value;
                if (selectedValue) {
                    window.location.href = selectedValue;
                }
            });
            dropdown4.addEventListener("change", () => {
                const selectedValue = dropdown4.value;
                if (selectedValue) {
                    window.location.href = selectedValue;
                }
            });

            async function confirmLogOut() {
            const isConfirm = confirm("Are you sure you want to log out?");
            if (isConfirm) {
                try {
                    const response = await fetch('/Studentlogout', { method: 'POST' });
                    const result = await response.json();

                    if (result.success) {
                        alert(result.message),
                            window.location.href = result.redirectTo
                    } else {
                        alert("Logout failed: " + result.message);
                    }
                } catch (error) {
                    alert("An unexpected error occurred while logging out.");
                }
            }
        }
        </script>
    </header>
</body>
</html>